.button {
    display: flex;
    width: calc(var(--responsive-size)*12);
    height: calc(var(--responsive-size)*4.2);
    font-size: calc(var(--responsive-size)*1.5);
    padding: var(--responsive-size);
    justify-content: center;
    align-items: center;
    border-radius: var(--responsive-size);
    border: calc(var(--responsive-size)*0.2) #4aa4f8 solid;
    color: #4aa4f8;
    cursor: pointer;
    background-color: white;
}

.button:hover {
    background-color: #4aa4f8;
    color: white;
}

@media (prefers-color-scheme: dark) {
    .button {
        background-color: var(--color__dark-theme);
    }
}