.button {
    display: flex;
    width: calc(var(--responsive-size)*5);
    height: calc(var(--responsive-size)*5);
    border-radius: var(--responsive-size);
    border: calc(var(--responsive-size)*0.4) #74a6e7 solid;
    cursor: pointer;
}