.button {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    appearance: none;
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

@media (prefers-color-scheme: dark) {
    .button>button {
        color: inherit;
    }
}