.input>input {
    display: grid;
    padding: var(--responsive-size);
    font-size: calc(var(--responsive-size)*2);
    outline: none;
    background-color: inherit;
}

@media (prefers-color-scheme: dark) {
    .input>input {
        background-color: inherit;
    }
}