.dropdown {
    display: grid;
}

.content {
    display: none;
}

.open {
    display: block;
    position: relative;
    width: min-content;
    border-radius: var(--responsive-size);
    animation-duration: 150ms;
    animation-name: open;
    background-color: white;
    padding-bottom: var(--responsive-size);
}

@media (prefers-color-scheme: dark) {
    .open {
        background-color: var(--color__dark-theme);
    }
}

.margin {
    margin-top: 10px;
}

@keyframes open {
    0% {
        opacity: 0;
        transform: translateY(-10vh);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}